.container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px; 
}
.b-bold{
  color: rgba(11, 11, 11, 0.703);
  font-size: 1.8rem;
  font-weight: bold;
}
.text-blue{
  color: rgb(0, 0, 255);
  font-weight: bold;
  font-size: 1.3rem;
}
.arrow{
  font-weight: bold;
}

 /* card area start */
 .Card-Container  {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
  gap: 10px; 
}

.card{
  flex: 1 1 22%; 
  border: 1px solid rgb(204, 204, 204); 
  border-radius: 0.3rem;
  padding: 10px; 
  box-sizing: border-box; 
  display: flex;
  justify-content: center;
  align-items: center;
}
